body {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

.one_border {
    backdrop-filter: blur (1px);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(314deg, #1f2937cc, #374151, #1f2937cc);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 16px;
        border: 1px solid transparent;
    }
}

.column_border {
    backdrop-filter: blur (1px);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(343deg, #6366f1cc, #374151, #1f2937cc);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 16px;
        border: 1px solid transparent;
    }
}

.arrowleft_one_border {
    backdrop-filter: blur (1px);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #3741517a, #3741517a);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 16px;
        border: 0.75px solid transparent;
    }
}

.badge_border {
    backdrop-filter: blur (1px);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #37415128, #3741517a);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 12px;
        border: 0.5px solid transparent;
    }
}

.get_started_border {
    backdrop-filter: blur(1px);

    &::before {
        content:
            "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, #ff3bff, #ecbebe, #5c24ff, #d94fd5);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 34px;
        border: 2px solid transparent;
    }
}

.pleace_border {
    backdrop-filter: blur (1px);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #ffffff77, #ffffff8b, #ffffff63);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 00) padding-box,
            linear-gradient(#fff 00);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 10px;
        border: 1px solid transparent;
    }
}

.header_border {
    backdrop-filter: blur (1px);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(314deg, #1f2937, #374151, #1f2937);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 16px;
        border: 1px solid transparent;
    }
}

.schedule_demo_border {
    backdrop-filter: blur (1px);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(135deg, #1f2937, #4b5563, #1f2937);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 8px;
        border: 1px solid transparent;
    }
}

.logo_border {
    backdrop-filter: blur (1px);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(135deg, #1f2937, #4b5563, #1f2937);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 16px;
        border: 1px solid transparent;
    }
}

.blue_gray_800_7a_blue_gray_800_7a_border {
    border-image: linear-gradient(180deg, #3741517a, #3741517a) 1;
}

.white_A700_77_white_A700_63_border {
    border-image: linear-gradient(180deg, #ffffff77, #ffffff8b, #ffffff63) 1;
}

.blue_gray_900_06_blue_gray_900_06_border {
    border-image: linear-gradient(135deg, #1f2937, #4b5563, #1f2937) 1;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}

input {
    background-color: transparent;
    width: 100%;
}

input:focus {
    outline: none;
}

label [floating-label] {
    position: relative;

    &>input[floating-input] {
        transition: all;
        transition-duration: 0.25s;
        outline: none !important;
        border: none !important;
        background: transparent !important;
        max-height: 1.25em;
        line-height: 1em;

        &:focus,
        &:not(:placeholder-shown) {
            outline: none !important;

            &::placeholder {
                color: transparent;
            }

            &~div[floating-text] {
                opacity: unset;
            }
        }
    }

    &>div[floating-text] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform-origin: top left;
        transition: all;
        transition-duration: 0.25s;
        opacity: 0;
        line-height: 1em;
        pointer-events: none;
    }
}

label [floating-label="normal"] {
    &>input[floating-input] {

        &:focus,
        &:not(:placeholder-shown) {
            &~div[floating-text] {
                top: 0em;
                transform: translateY(-50%) scale(85%);
                margin-right: -0.15em;
                margin-left: -0.15em;
                padding-right: 0.15em;
                padding-left: 0.15em;
                backdrop-filter: blur(3m);
            }
        }
    }
}

label [floating-label="contained"] {
    &>input[floating-input] {

        &:focus,
        &:not(:placeholder-shown) {
            transform: translateY(0.5em);

            &~div[floating-text] {
                top: calc(50% - 1.25em);
                transform: scale(85%);
            }
        }
    }
}

.tab-panel--selected {
    animation-name: tabPanel;
    animation-duration: 300ms;
    animation-timing-function: linear;
}

.tablecrypto {
    th:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 0px;
    }

    th:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
    }
}

@keyframes tabPanel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table {
    table-layout: fixed;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 10px;
}

.ps-menu-icon {
    width: unset !important;
    min-width: unset !important;
    justify-content: start !important;
    margin: 0 !important;
}

.ps-menu-button,
.ps-menu-icon {
    height: unset !important;
}

.ps-menu-button:hover {
    background-color: unset !important;
}

.ps-sidebar-container,
.ps-submenu-content {
    background-color: transparent !important;
    overflow: unset;
}

.ps-collapsed.ps-menu-icon {
    min-width: 100% !important;
    justify-content: center !important;
}

.ps-collapsed {
    width: 80px !important;
}

.ps-sidebar-container,
.ps-menu-root,
.ps-menu-root>ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ps-sidebar-root {
    min-width: unset !important;
}

.ps-collapsed,
.ps-collapsed .ps-menu-root,
.ps-collapsed .ps-menu-button {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: unset !important;
    margin-right: unset !important;
}

.ps-collapsed ul {
    align-items: center;
}

.ps-menu-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ps-sidebar-container::-webkit-scrollbar {
    width: 2px;
}